<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div th:if="${user != null}">Welcome <b th:text="${user.name}"></b>
    <b th:text="${user.surname}"></b><br> <a href="/logout"> Logout </a></div>
<a href="/categories"> Category Page </a><br>
<a href="/items"> Item Page </a><br>
<a href="/user/register" th:if="${user == null}"> Register </a><br>
<a href="/login" th:if="${user == null}"> Login </a><br>
</body>
</html>